.about {
    padding: 100px 0;
    background: #010101;

    &__descr {
        margin-top: 20px;
        @include fonts(normal, normal, 20px, 28px, 1.2px, map-get($colors, light));
    }
    &__btns {
        margin-top: 30px;
    }
    &__img {
        max-width: 100%;
        max-height: 380px;
    }

    @include breakpoint-lg {
        padding: 80px 0;
        &__descr {
            margin-top: 20px;
            font-size: 20px;
            line-height: 28px;
        }
    }

    @include breakpoint-md {
        padding: 70px 0;
        &__descr {
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            margin-top: 14px;
        }
        &__btns {
            text-align: center;
        }
        &__img {
            text-align: center;
            margin-top: 40px;
        }
    }

    @include breakpoint-sm {
        padding: 60px 0 ;
    }

    @include breakpoint-ssm {
        padding: 50px 0;
        &__img {
            margin-top: 8px;
        }
    }
}