.about {
    padding: 100px 0;
    background: map-get($colors, dark);

    &__text {
        margin-top: 20px;
        @include fonts(20px, 28px, 1.2px, map-get($colors, light));

        @include breakpoint-lg {
            margin-top: 20px;
            font-size: 20px;
            line-height: 28px;
        }

        @include breakpoint-md {
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            margin-top: 14px;
        }
    }

    &__buttons {
        margin-top: 30px;

        @include breakpoint-md {
            text-align: center;
        }
    }

    &__img {
        display: block;
        max-width: 100%;

        @include breakpoint-md {
            text-align: center;
            margin-top: 40px;
        }

        @include breakpoint-ssm {
            margin-top: 8px;
        }
    }

    @include breakpoint-lg {
        padding: 80px 0;
    }

    @include breakpoint-md {
        padding: 70px 0;
    }

    @include breakpoint-sm {
        padding: 60px 0;
    }

    @include breakpoint-ssm {
        padding: 50px 0;
    }
}