.about {
    padding: 100px 0;
    background: #010101;

    @include breakpoint-md {
        padding: 80px 0 ;
    }

    @include breakpoint-sm {
        padding: 60px 0 ;
    }

    @include breakpoint-ssm {
        padding: 50px 0;
    }

    @include breakpoint-xs-up {
        padding-bottom: 70px; 
    }

    &__descr {
        margin-top: 20px;
        @include fonts(normal, normal, 20px, 28px, 1.2px, $light);
    }
    &__btns {
        margin-top: 30px;
    }
    &__lens {
        width: 100%;
        max-height: 380px;
        img {
            max-width: 100%;
            object-fit: cover;
        }
    }
}