.accordion {
    padding: 100px 0;

    &__item {
        width: 100%;
        $root: &;
        border-top: 1px solid map-get($colors, gray);
        padding: 0;
    
        &:last-child {
          border-bottom: 1px solid map-get($colors, gray);
        }

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s;
            padding: 18px 20px 18px;
            

            &::after {
                content: '';
                display: block;
                height: 13px;
                width: 14px;
                mask: url('../img/arrow.svg') center / cover no-repeat;
                background: map-get($colors, dark);
                transition: all 0.5s;
            }

            #{$root}_active & {
                &::after {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                opacity: 0.7;
            }
        }

        &-title {
            @include fonts(13px, 22px, 1.2px, map-get($colors, dark));
            text-transform: uppercase;
        }

        &-image {
            @include images-block;
            

            
        }

        &-content {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            padding-right: 18px;
            padding-left: 18px;
            @include fonts(16px, 26px, 0.8px, map-get($colors, dark));
            transition: all 0.5s, max-height 0.5s;

            #{$root}_active & {
                opacity: 1;
                margin-bottom: 20px;
            }

            @include breakpoint-md {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    @include breakpoint-lg {
        padding: 80px 0;
    }

    @include breakpoint-md {
        padding: 70px 0;
    }

    @include breakpoint-sm {
        padding: 60px 0;
    }

    @include breakpoint-ssm {
        padding: 50px 0;
    }
}