.address {
    padding: 50px 0 100px;

    &__item {
        padding: 30px 30px 40px;
        background: map-get($colors, light-green);
        height: 100%;

        @include breakpoint-sm {
            padding: 16px 16px 30px;
        }

        &_bg-none {
            background: none;
            padding: 0;
        }

        &_clr-white {
            color: map-get($colors, light);
            text-align: center;
        }

        &-title {
            @include fonts(26px, 36px, 1.2px, map-get($colors, text), normal, bold);

            @include breakpoint-lg {
                font-size: 24px;
                line-height: 34px;
            }

            @include breakpoint-md {
                font-size: 22px;
                line-height: 32px;
            }
        }

        &-text {
            margin-top: 10px;
            @include fonts(16px, 26px, 0.8px, map-get($colors, text));

            @include breakpoint-md {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    &_blue {
        background: map-get($colors, secondary);
    }

    @include breakpoint-lg {
        padding: 30px 0 80px;
    }

    @include breakpoint-md {
        padding: 20px 0 70px;
    }

    @include breakpoint-sm {
        padding: 10px 0 60px;
    }

    @include breakpoint-ssm {
        padding: 20px 0 50px;
    }
}