.btn {
    background: $main-color;
    border: none;
    padding: 9px 35px 11px 35px;
    @include fonts (normal, normal, 13px, 20px, 0.8px, $light);
    text-align: center;
    transition: all .5s;
    &_blue {
        background: $second-color;
    }
    &_bgnone {
        margin-left: 16px;
        padding: 7.5px 30px 9.5px 30px;
        background: inherit;
        border: 2px solid $main-color;
    }
    &:hover {
        box-shadow: 1px 1px 15px $main-color;
    }
} 