.button {
    background: map-get($colors, primary);
    border: none;
    padding: 9px 35px 11px 35px;
    @include fonts (13px, 20px, 0.8px, map-get($colors, light));
    text-align: center;
    transition: all 0.5s;

    &_bg-blue {
        background: map-get($colors, secondary);
    }

    &_bg-none {
        margin-left: 16px;
        padding: 7.5px 30px 9.5px 30px;
        background: inherit;
        border: 2px solid map-get($colors, primary);

        @include breakpoint-ssm {
            margin: 0;
            margin-top: 16px;
        }
    }

    &:hover {
        box-shadow: 1px 1px 15px map-get($colors, primary);
    }

    @include breakpoint-md {
        font-size: 12px;
        line-height: 18px;
    }

    @include breakpoint-sm {
        padding: 8px 28px 10px;
        font-size: 12px;
        line-height: 18px;
    }

    @include breakpoint-ssm {
        width: 100%;
    }
}