.card {
    background: map-get($colors, light);
    border: 1px solid map-get($colors, border);
    padding: 30px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &__category {
        @include fonts(normal, normal, 13px, 22px, 1.2px, map-get($colors, light));
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 18px;
        left: 0;
        background: map-get($colors, primary);
        padding: 6px 15px 8px 16px;
        z-index: 2;

        &_blue {
            background: map-get($colors, secondary);
        }

        @include breakpoint-lg {
            top: 12px;
        }

        @include breakpoint-md {
            font-size: 12px;
            line-height: 20px;
            top: 12px;
        }

        @include breakpoint-sm {
            top: 0;
        }
    }

    &__content {
        &-img {
            position: relative;

            &::before {
                display: block;
                position: static;
                content: '';
                padding: 50% 0 0;
            }
        }
    }

    &__img {
        background: map-get($colors, black);
        position: absolute;
        top: 0;
        left: 0;
        @include images(100%, 100%, cover, center);
    }

    &__author {
        margin-top: 20px;

        a {
            @include fonts(normal, normal, 13px, 20px, 0.8px, map-get($colors, primary));
            text-decoration: none;
        }

        &_blue {
            a {
                color: map-get($colors, secondary);
            }
        }

        @include breakpoint-md {
            font-size: 12px;
            line-height: 18px;
        }

        @include breakpoint-sm {
            margin-top: 18px;
        }

        @include breakpoint-ssm {
            margin-top: 12px;
        }
    }

    &__title {
        margin-top: 6px;
        @include fonts(normal, normal, 22px, 30px, 1.2px, map-get($colors, dark));

        @include breakpoint-lg {
            font-size: 20px;
            line-height: 28px;
        }

        @include breakpoint-md {
            font-size: 18px;
            line-height: 26px;
        }

        @include breakpoint-sm {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__text {
        margin-top: 16px;
        @include fonts(normal, normal, 16px, 26px, 0.8px, map-get($colors, dark));

        @include breakpoint-md {
            font-size: 14px;
            line-height: 22px;
        }

        @include breakpoint-sm {
            margin-top: 12px;
            font-size: 14px;
            line-height: 22px;
        }

        @include breakpoint-sm {
            margin-top: 10px;
        }
    }

    &__button {
        margin-top: 30px;

        @include breakpoint-md {
            margin-top: 26px;
        }

        @include breakpoint-sm {
            margin-top: 26px;
        }

        @include breakpoint-ssm {
            margin-top: 20px;
        }
    }


    @include breakpoint-md {
        padding: 28px;
    }

    @include breakpoint-sm {
        padding: 16px 16px 20px 16px;
    }
}