.card {
    background: $white;
    border: 1px solid $border-color;
    padding: 30px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &__category {
        @include fonts(normal, normal, 13px, 22px, 1.2px, $white);
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 18px;
        left: 0;
        background: $main-color;
        padding: 6px 15px 8px 16px;
        &_blue {
            background: $second-color;
        }
    }
    &__img {
        background: $black;
        width: 100%;
        height: 170px;
    }
    &__author {
        margin-top: 20px;
        a {
            @include fonts(normal, normal, 13px, 20px, .8px, $main-color);
            text-decoration: none;
        }
        &_blue {
            a {
                color: $second-color;
            }
        }
    }
    &__title {
        margin-top: 6px;
        @include fonts(normal, normal, 22px, 30px, 1.2px, $text-color);
    }
    &__text {
        margin-top: 16px;
        @include fonts(normal, normal, 16px, 26px, .8px, $text-color);
    }
}