.column {
  @include make-col-ready;

  &_left {
    display: flex;
    justify-content: flex-end;
  }

  &_mt-30 {
    margin-top: 30px;
  }

  @for $i from 1 through 12 {
    &_xxl-#{$i} {
      @include make-col($i);
    }

    &_lg-#{$i} {
      @include breakpoint-lg {
        @include make-col($i);
      }
    }

    &_md-#{$i} {
      @include breakpoint-md {
        justify-content: center;
        @include make-col($i);
      }
    }

    &_sm-#{$i} {
      @include breakpoint-sm {
        @include make-col($i);
      }
    }

    &_ssm-#{$i} {
      @include breakpoint-ssm {
        @include make-col($i);
      }
    }
  }
}