.column {
  @include make-col-ready;

  &_left {
    display: flex;
    justify-content: flex-end;
  }

  &_mt-30 {
    margin-top: 30px;
  }

  @for $i from 1 through 12 {
    &_xxl-#{$i} {
      @include make-col($i);
    }
  }

  @include breakpoint-lg {
    @for $i from 1 through 12 {
      &_lg-#{$i} {
        @include make-col($i);
      }
    }
  }

  @include breakpoint-md {
    @for $i from 1 through 12 {
      &_md-#{$i} {
        justify-content: center;
        @include make-col($i);
      }
    }
  }

  @include breakpoint-sm {
    @for $i from 1 through 12 {
      &_sm-#{$i} {
        @include make-col($i);
      }
    }
  }

  @include breakpoint-ssm {
    @for $i from 1 through 12 {
      &_ssm-#{$i} {
        @include make-col($i);
      }
    }
  }
}