.ctas {
    $root: &;

    .header_light &,
    .header_light + .menu & {
        .ctas {
            &__tel {
                color: map-get($colors, dark);
            }

            &__button {
                background: map-get($colors, secondary);

                &:hover {
                    box-shadow: 1px 1px 15px map-get($colors, secondary);
                }
            }
        }

    }

    &_vertical {
        display: flex;
        @include display-flex;
        margin-top: 40px;
    }

    &__tel {
        @include fonts (13px, 20px, 0.8px, map-get($colors, primary));
        text-decoration: none;
        margin-right: 26px;
        opacity: 1;
        transition: all 0.5s;

        #{$root}_vertical & {
            margin: 0;
            order: 2;
            margin-top: 8px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &_md-d-none {
        @include breakpoint-md {
            display: none;
        }
    }

}