.ctas {
    $root: &;

    &_vertical {
        display: flex;
        @include position-flex;
        margin-top: 40px;
    }

    &__tel {
        @include fonts (13px, 20px, 0.8px, map-get($colors, primary));
        text-decoration: none;
        margin-right: 26px;
        opacity: 1;
        transition: all 0.5s;

        #{$root}_vertical & {
            margin: 0;
            order: 2;
            margin-top: 8px;
        }

        &:hover {
            opacity: 0.7;
        }

        #{$root}_light & {
            color: map-get($colors, dark);
        }
    }

    &__button {
        #{$root}_light & {
            background: map-get($colors, secondary)
        } 
    }
    
    &_md-d-none {
        @include breakpoint-md {
            display: none;
        }
    }

}