.header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
    $root: &;

    &_open+.menu {
        .menu__content {
            right: 0;
        }

        .menu__overlay {
            height: 100%;
        }
    }

    &_light {
        .ctas {
            &__tel {
                color: map-get($colors, dark);
            }
        }

        .button {
            background: map-get($colors, secondary);

            &:hover {
                box-shadow: 1px 1px 15px map-get($colors, secondary);
            }
        }

        .navigation {
            &__item {
                &-link {
                    &:after {
                        background: map-get($colors, secondary);
                    }
                }
            }
        }

        &+.menu {
            .navigation {
                &__item {
                    &-link {
                        &:after {
                            background: map-get($colors, secondary);
                        }
                    }
                }
            }

            .ctas {
                &__tel {
                    color: map-get($colors, dark);
                }

                &__button {
                    background: map-get($colors, secondary);

                    &:hover {
                        box-shadow: 1px 1px 15px map-get($colors, secondary);
                    }
                }
            }
        }
    }

    &__row {
        transition: all 0.5s;

        &_top {
            background: map-get($colors, dark);

            #{$root}_light & {
                background: map-get($colors, light-blue);
            }

            @include breakpoint-md {
                box-shadow: 0 0 8px rgba(1, 1, 1, 0.2);
            }
        }

        &_bottom {
            background: map-get($colors, light);

            @include breakpoint-md {
                display: none;
            }
        }
    }

    &__logo {
        width: 110px;

        &-link {
            display: block;
            height: 26px;
            max-width: 100%;
            opacity: 1;
            mask: url('../img/logo.svg') center / cover no-repeat;
            background: map-get($colors, light);
            transition: all 0.5s;

            &:hover {
                opacity: 0.7;
            }

            #{$root}_light & {
                background: map-get($colors, dark-gray);
            }

            @include breakpoint-lg {
                height: 24px;
            }

            @include breakpoint-md {
                height: 20px;
            }

            @include breakpoint-sm {
                height: 18px;
            }
        }

        @include breakpoint-lg {
            width: 102px;
        }

        @include breakpoint-md {
            width: 84px;
        }

        @include breakpoint-sm {
            width: 76px;
        }
    }

    &__humburger {
        position: relative;
        display: none;
        width: 27px;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: -10px;
            left: 0;
            width: 100%;
            height: 30px;
        }

        @include breakpoint-md {
            display: block;
        }

        span {
            content: '';
            display: block;
            height: 3px;
            width: 100%;
            background-color: map-get($colors, primary);
            margin-bottom: 5px;
            transition: 0.5s all;

            #{$root}_light & {
                background: map-get($colors, secondary);
            }

            &:last-child {
                margin: 0
            }
        }

        #{$root}_open & {
            span {
                margin-bottom: -3px;

                &:first-child {
                    transform: translateY(3px) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
}