.header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 8px rgba(1, 1, 1, 0.2);
    $root: &;

    &__top {
        background: map-get($colors, dark);
    }

    &_light-blue {
        background: map-get($colors, light-blue);
    }

    &_bottom {
        background: map-get($colors, light);

        @include breakpoint-md {
            display: none;
        }
    }

    &__logo {
        width: 110px;

        &-link {
            display: block;
            height: 26px;
            max-width: 100%;
            mask: url('../img/logo.svg') center / cover no-repeat;
            background: map-get($colors, light);
            #{$root}_light-blue & {
                background: map-get($colors, dark-gray);
            }

            @include breakpoint-lg {
                height: 24px;
            }
    
            @include breakpoint-md {
                height: 20px;
            }
    
            @include breakpoint-sm {
                height: 18px;
            }
        }

        @include breakpoint-lg {
            width: 102px;
        }

        @include breakpoint-md {
            width: 84px;
        }

        @include breakpoint-sm {
            width: 76px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: map-get($container-width, xl);
        margin: 0 auto;
        padding: 15px 0;

        &_left {
            padding: 13px 0 15px;
            background: map-get($colors, light);
        }

        @include breakpoint-lg {
            max-width: 100%;
            padding: 13px 26px 15px
        }
    }

    &__humburger {
        display: none;
        width: 27px;
        cursor: pointer;

        @include breakpoint-md {
            display: block;
        }

        span {
            content: '';
            display: block;
            height: 3px;
            width: 100%;
            background-color: map-get($colors, primary);
            margin-bottom: 5px;
            transition: 0.5s all;

            #{$root}_light-blue & {
                background: map-get($colors, secondary);
            }

            &:last-child {
                margin: 0
            }
        }

        &_active {
            span {
                margin-bottom: -2px;

                &:first-child {
                    transform: translateY(3px) rotate(-45deg);
                }


                &:nth-child(2) {
                    display: none;
                }


                &:last-child {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
}