.hero {
  position: relative;
  padding: 120px 0 140px 0;

  &__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &-img {
      @include images(100%, 100%, cover, center);
    }
  }

  @include breakpoint-md {
    padding: 100px 0 120px;
  }

  @include breakpoint-sm {
    padding: 80px 0 100px;
  }

  @include breakpoint-xs {
    padding: 60px 0 80px;
  }
}