@media (max-width: 1199px) {
    .title {
        font-size: 54px;
        line-height: 60px;

        &_about {
            font-size: 54px;
            line-height: 60px;
        }
    }

    .card {
        &__category {
            top: 12px;
        }
        &__title {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .about {
        &__descr {
            margin-top: 20px;
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (max-width: 991px) {

    .title {
        font-size: 46px;
        line-height: 48px;
        &_about {
            font-size: 46px;
            line-height: 48px;
            text-align: center;
        }
    }

    .card {
        &__category {
            font-size: 12px;
            line-height: 20px;
            top: 12px;
        }
        &__img {
            height: 150px;
        }
        &__author {
            font-size: 12px;
            line-height: 18px;
        }
        &__title {
            font-size: 18px;
            line-height: 26px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }
    .btn {
        font-size: 12px;
        line-height: 18px;
    }

    .about {
        &__descr {
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            margin-top: 14px;
        }
        &__btns {
            text-align: center;
        }
        &__lens {
            text-align: center;
            margin-top: 40px;
        }
    }
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

    .btn {
        width: 100%;
        &_bgnone {
            margin: 0;
            margin-top: 16px;
        }
    }

    .card {
        padding: 16px 16px 20px 16px;
        &__category {
            top: 0;
        }
        &__img {
            height: 140px;
        }
        &__author {
            margin-top: 12px;
        }
        &__text {
            margin-top: 10px;
        }
    }

    .about {
        &__lens {
            margin-top: 8px;
        }
    }
}