.menu {
    position: fixed;
    right: 0;
    height: 100%;
    z-index: 10;
    $root: &;

    &__content {
        position: absolute;
        right: -100vw;
        height: 100%;
        z-index: 10;
        // position: absolute;
        // right: 0;
        // top: -100%;        
        // z-index: 5;
        // width: 100vw;
        // height: 100vh;
        background: map-get($colors, light);
        padding: 50px 90px 150px;
        transition: all 0.5s;

        #{$root}_active & {
            right: 0;
        }

        @include breakpoint-ssm {
            width: 100vw;
        }
    }

    &__overlay {
        position: absolute;
        right: 0;
        top: -100%;        
        z-index: 5;
        width: 100vw;
        height: 100vh;
        background: rgba(map-get($colors, black), 0.5);
        transition: all 0.5s;

        #{$root}_active & {
           top: 0;
        }
    }
    // &_active {
    //     width: 100vw;
    // }
}