.menu {
    position: fixed;
    right: 0;
    height: 100%;
    z-index: 50;

    &__content {
        position: absolute;
        right: -100vw;
        height: 100%;
        background: map-get($colors, light);
        padding: 50px 90px 150px;
        transition: all 0.5s;
        z-index: 2;

        @include breakpoint-ssm {
            width: 100vw;
        }
    }

    &__overlay {
        position: absolute;
        width: 100vw;
        height: 0;
        top: 0;
        right: 0;
        background: rgba(map-get($colors, black), 0.5);
        transition: all 0.5s;
    }
}