.navigation {
    &__menu {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        &_vertical {
            @include position-flex;
        }
    }

    &__item {
        margin-right: 51px;

        &_centered {
            text-align: center;
            margin: 0;
            margin-bottom: 18px;

            a {
                &:after {
                    bottom: -10px;
                }
            }
        }

        &-link {
            position: relative;
            @include fonts(13px, 22px, 1.2px, map-get($colors, dark));
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            
            &:after {
                content: '';
                display: block;
                height: 4px;
                width: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -17px;
                background: map-get($colors, primary);
                transition: all 0.5s;
            }

            &:hover {
                color: map-get($colors, dark);

                &:after {
                    width: 100%;
                }
            }

            &_active {
                &:after {
                    width: 100%;
                }
            }
        }

        &:last-child {
            margin: 0;
        }
    }
}