.promo {
    padding: 120px 0 140px 0;
    background: url('../img/bg.jpg') center center / cover no-repeat;

    @include breakpoint-md {
        padding: 100px 0 120px;
      }
    
      @include breakpoint-sm {
        padding: 80px 0 100px;
      }
    
      @include breakpoint-xs {
        padding: 60px 0 80px;
      }
}