.row {
    @include make-row;
    justify-content: center;

    &_centered {
        align-items: center;
    }

    &_content-between {
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        max-width: 100%;
        margin: 0;
        
        @include breakpoint-md {
            padding: 13px 0;
        }

        @include breakpoint-sm {
            padding: 11px 0 12px;
        }
    }

    &_left {
        justify-content: flex-start;
    }
    

}