.title {
    position: relative;
    font-size: 62px;
    line-height: 68px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    width: 750px;
    left: 50%;
    transform: translateX(-50%);
}