.title {
    position: relative;
    @include fonts(normal, bold, 62px, 68px, 1.4px, $white);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    &_promo {
        width: 750px;
    } 
}