.title {
    position: relative;
    @include fonts(normal, bold, 62px, 68px, 1.4px, map-get($colors, light));
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    &_clr-blue {
        color: map-get($colors, primary);
        text-align: left;
    }

    &_centered {
        @include breakpoint-md {
            text-align: center;
        }
    }

    @include breakpoint-lg {
        font-size: 54px;
        line-height: 60px;
    }

    @include breakpoint-md {
        font-size: 46px;
        line-height: 48px;
    }
}