@import 'base/libs';
@import 'base/fonts';
@import 'base/vars';
@import 'base/animation';
@import 'base/mixins';

* {
    font-family: 'NotoSans', sans-serif;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/cards';
@import 'blocks/card';
@import 'blocks/btn';

@import 'blocks/media';