@import 'base/libs';
@import 'base/fonts';
@import 'base/vars';
@import 'base/animation';
@import 'base/mixins';

* {
    font-family: 'NotoSans', sans-serif;
}

.container {
    @include make-container;
}

@import 'blocks/row';
@import 'blocks/column';
@import 'blocks/hero';
@import 'blocks/title';
@import 'blocks/cards';
@import 'blocks/card';
@import 'blocks/btn';
@import 'blocks/about';